.ColorPicker {
  width: 400px;
  padding: 10px;
  border: 1px solid #000;

  /* display: flex;
  flex-direction: column;
  justify-content: start; */
}

.ColorPicker__title {
  font-size: 2rem;
  line-height: 1.3;
}

.ColorPicker__option {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 4px;

  border: none;
  outline: none;
  cursor: pointer;

  transition: transform 250ms linear;
}

.ColorPicker__option--active {
  transform: scale(1.1);
  /* border: 5px solid #000; */
}
